@import "tailwindcss";

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100;
}


@keyframes marquee-animation {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee-animation 25s linear infinite;
}